.work {
  padding-top: 50px;
  padding-bottom: 47px;
}

.work-top-text {
  @include font(null, 20px, 1.65);
  text-align: center;
  color: var(--333333);
  margin-bottom: 15px;
}

.work-title {
  @include font(300, 38px, 1.26);
  text-align: center;
  color: var(--333333);
  margin-bottom: 34px;
}

.work-bottom-text {
  @include font(null, 18px, 1.56);
  text-align: center;
  color: var(--333333);
  margin-bottom: 39px;
}

.work-list {
  @include flex-position(flex, null, center);
  flex-wrap: wrap;
  gap: 8px;
}
